.header__container {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-header-footer);
}

h1 {
    font-size: 40px;
}

.main__container {
    height: 67.3%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.main__container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px;
    font-size: 20px;
    height: 300px;
    width: 250px;
    border: 1px solid black;
}

.main__container > form > input, .main__container > form > button {
    width: 250px;
}

.section__carousel {
    height: 400px;
    width: 650px;
    position: relative;
}